SOURCE_URL=postgresql://postgres:postgres@localhost:5432/arak
STORE_URL=postgresql://postgres:postgres@localhost:5432/store
NODE_URL=https://rpc.ankr.com/eth

# Event Processor Configuration Values
# CONFIG=./example.toml
CHAIN_SOURCE=Database
PAGE_SIZE=1000
FETCH_NODE_DATA=false
